// p, ul, ol {
//     line-height: 1.8;
//     overflow-wrap: break-word;
// }

// :root {
//     --strong-text-color: #541e24;
// }

// .dark strong {
//     color: #348AA7;
// }

strong {
    font-family: "Inter", "Noto Sans SC", Arial, sans-serif;
    // color: var(--strong-text-color); // 设置文字颜色为黄色
    // font-weight: bold; // 确保加粗
}

:root {
    --h1-color: #ee3f4d;
    --h2-color: #de1c31;
    --h3-color: #c04851;
}

.dark {
    --h1-color: #ee3f4d;
    --h2-color: #de1c31;
    --h3-color: #c04851;
}

h1 {
    color: var(--h1-color);
}

h2 {
    color: var(--h2-color);
}

h3 {
    color: var(--h3-color);
}